<h3>Contacts</h3>



<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading"><h1>Contacts</h1></div>
    <div class="container-fluid">
      <Input @value={{model.filter}} placeholder="Filtrer"/>
      {{#each model.datas as |contact|}}
        <p>{{contact.nom}} {{contact.prenom}}</p>
      {{/each}}
    </div>
  </div>
</div>

{{outlet}}